<footer>
    <div class="footer__area">
        <div class="footer__top grey-bg-4 pt-95 pb-45">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <div class="footer__widget footer-col-1 mb-50">
                            <div class="footer__logo">
                                <div class="logo">
                                    <a href="/">
                                        <img src="/img/logo/rai.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="footer__widget-content">
                                <div class="footer__widget-info">
                                    <p>“Our daughter greatly benefited from attending the Algebra boot camp last summer. She has had a great year in Algebra
                                    II, and we certainly know that the boot camp helped her to be successful." - Collegiate Mom</p>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 d-flex ">
                        <div class="footer__widget mb-50">
                            <h3 class="footer__widget-title">Links</h3>
                            <div class="footer__widget-content">
                              
                                    
                                  
                                        <a class="px-3 h6" href="/about">About</a>
                                    
                                        <a class="px-3 h6" href="/tutoring/math">Math</a>
                                    
                                        <a class="px-3 h6"href="/tutoring/sat">SAT</a>
                                    
                                        <a class="px-3 h6" href="/reviews">Reviews</a>
                                   
                                        <a class="px-3 h6" href="/contact">Contact</a>
                                   
                            
                            </div>
                        </div>
                    </div>
                   
                  
                </div>
            </div>
        </div>
        <div class="footer__bottom grey-bg-4">
            <div class="container">
                <div class="footer__bottom-inner">
                    <div class="row">
                        <div class="col-xxl-12">
                            <div class="footer__copyright text-center">
                                <p>© 2024 RAI. All Rights Reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>