<% layout('./layouts/boilerplate') %>

<main>

    <!-- breadcrumb area start -->
    <section class="breadcrumb__area include-bg pt-150 pb-150 breadcrumb__overlay"
        data-background="/img/slider/benesh.jpeg">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__content text-center p-relative z-index-1">
                        <h3 class="breadcrumb__title">Page Not Found</h3>
                        <div class="breadcrumb__list">
                            <span><a href="/">Home</a></span>
                            <span class="dvdr"><i class="fa-regular fa-angle-right"></i></span>
                            <span>404</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->

    <!-- error area start -->
    <section class="error__area pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-8">
                    <div class="error__content text-center">
                        <div class="error__thumb m-img mb-45">
                            <img src="assets/img/error/error.png" alt="">
                        </div>
                        <div class="error__content">
                            <h3 class="error__title">Content Not Found</h3>
                            <p>Oops! The page you are looking for does not exist. It might have been moved or deleted.
                            </p>

                            <div class="error__btn">
                                <a href="/" class="tp-btn">Back to home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- error area end -->


</main>