<% layout('./layouts/boilerplate') %>

<main>

    <!-- breadcrumb area start -->
    <section class="breadcrumb__area include-bg pt-150 pb-150 breadcrumb__overlay"
        data-background="/img/slider/benesh.jpeg">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__content text-center p-relative z-index-1">
                        <h3 class="breadcrumb__title">About Mr. Benesh</h3>
                        <div class="breadcrumb__list">
                            <span><a href="/">Home</a></span>
                            <span class="dvdr"><i class="fa-regular fa-angle-right"></i></span>
                            <span>About</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->

    <!-- instructor details area start -->
    <section class="teacher__area pt-120 pb-110">
        <div class="page__title-shape">
            <img class="page-title-shape-5 d-none d-sm-block" src="/img/page-title/page-title-shape-1.png" alt="">
            <img class="page-title-shape-6" src="/img/page-title/page-title-shape-6.png" alt="">
            <img class="page-title-shape-3" src="/img/page-title/page-title-shape-3.png" alt="">
            <img class="page-title-shape-7" src="/img/page-title/page-title-shape-4.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                    <div class="teacher__details-thumb p-relative pr-30">
                        <img style="width: 380px;" class="team-thumb" src="/img/slider/benesh2.jpeg" alt="">
                        <div class="teacher__details-shape">
                            <img class="teacher-details-shape-1" src="/img/team/details/shape/shape-1.png" alt="">
                            <img class="teacher-details-shape-2" src="/img/team/details/shape/shape-2.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xxl-8 col-xl-8 col-lg-8">
                    <div class="teacher__wrapper">
                        <div class="teacher__top d-md-flex align-items-end justify-content-between">
                            <div class="teacher__info">
                                <h4>Dickson Benesh</h4>
                                <span>Math Teacher at MLWGS</span>
                            </div>
                            <div class="teacher__rating">
                                <h5>Review:</h5>
                                <div class="teacher__rating-inner d-flex align-items-center">
                                    <ul>
                                        <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                                    </ul>
                                    <p>5.0</p>
                                </div>
                            </div>
                            <div class="teacher__social-2">
                                <h4>Follow Me:</h4>
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/misterrdickson.benesh/">
                                            <i class="fa-brands fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a href="https://www.linkedin.com/in/dickson-benesh-8058404/">
                                            <i class="fa-brands fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="teacher__follow mb-5">
                                <a href="#" class="teacher__follow-btn">follow <i class="fa-solid fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="teacher__bio">
                            <h3>Short Bio</h3>
                            <p>I have been teaching mathematics for over 25 years. Before that, I went to W&M, worked on Wall Street then attended
                            graduate school at VCU. I have taught 13 different courses at Maggie Walker, and I also spent two years teaching at an
                            IB school in Kuala Lumpur, Malaysia.

                            <h4 class="py-3">Recently I have:</h4>
                            
                            <ul class="px-4">
                                <li>Tutored students at all levels of math including SAT/ACT prep from over 60 schools in the Richmond area and
                                    beyond.</li>
                                <li>Won the Taylor Teaching Award at Maggie Walker – I used the award grant to follow in the footsteps of Isaac
                                    Newton’s life in England last summer.</li>
                                <li>Been selected as an REB award winner – I used the award grant to go hike and cycle in Iceland.</li>
                                <li>Led teams to FOUR straight first place finishes in the college-level SABR Analytics Diamond Dollars competition
                                    in Phoenix, and was featured on the front page of the Richmond Times Dispatch - "Maggie Walker GS competes, and
                                    wins, against colleges in baseball stats competition".</li>
                                <li>Led teams to 2nd and 3rd place finishes nationwide in the Modeling The Future Challenge.</li>
                                <li>Taught two math courses at the University of Richmond.</li>
                                <li>Wrote a couple of chapters in a Precalculus book.</li>
                                <li>Developed a Geometry course for a local middle school.</li>
                                <li>Worked with students at Anna Julia Cooper School and ASK Childhood Cancer Foundation.</li>
                            </ul>
</p>
                        </div>
                        <div class="teacher__courses pt-55">
                            <div class="section__title-wrapper mb-30">
                                <h2 class="section__title">Tutoring <span class="yellow-bg yellow-bg-big">Subjects<img
                                            src="/img/shape/yellow-bg.png" alt=""></span></h2>
                            </div>
                            <div class="teacher__course-wrapper">
                                <div class="row">
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                        <div class="course__item-2 transition-3 white-bg mb-30 fix">
                                            <div class="course__thumb-2 w-img fix">
                                                <a href="/tutoring/math">
                                                    <img src="/img/course/mathbenesh.png" alt="">
                                                </a>
                                            </div>
                                            <div class="course__content-2">
                                                <div
                                                    class="course__top-2 d-flex align-items-center justify-content-between">
                                                    <div class="course__tag-2">
                                                        <a href="/tutoring/math">Math</a>
                                                    </div>
                                                   
                                                </div>
                                                <h3 class="course__title-2">
                                                    <a href="/tutoring/math">Math Tutoring at All Levels</a>
                                                </h3>
                                              
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                        <div class="course__item-2 transition-3 white-bg mb-30 fix">
                                            <div class="course__thumb-2 w-img fix">
                                                <a href="/tutoring/sat">
                                                    <img src="/img/course/SAT.png" alt="">
                                                </a>
                                            </div>
                                            <div class="course__content-2">
                                                <div
                                                    class="course__top-2 d-flex align-items-center justify-content-between">
                                                    <div class="course__tag-2 pink-bg">
                                                        <a href="/tutoring/sat">SAT/ACT Prep</a>
                                                    </div>
                                                   
                                                </div>
                                                <h3 class="course__title-2">
                                                    <a href="/tutoring/sat">College Test Prep</a>
                                                </h3>
                                               
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- instructor details area end -->


</main>
