<% layout('./layouts/boilerplate') %>

<section class="testimonial__area pt-120 pb-120 fix">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12">
                <div class="section__title-wrapper-2 mb-40 text-center">
                    <span class="section__title-pre">Testimonials</span>
                    <h3 class="section__title section__title-44">What Parents Say.</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-12">
                <div class="testimonial__slider">
                    <div class="testimonial__active owl-carousel">
                        <div class="testimonial__item transition-3 text-center white-bg">
                            <div class="testimonial__avater">
                            </div>
                            <div class="testimonial__text">
                                <h4>Very understanding.</h4>
                                <p>“The RAI experience has been great for all three of our children. Mr. Benesh is professional in teaching the kids about the SAT as well as understanding them at their level. He is available for students who need extra attention. He is wanting every student to do their best and will give them the needed advice to achieve success. I would highly recommend RAI’s SAT bootcamp.”
</p>
                            </div>
                            <div class="testimonial__avater-info mb-5">
                                <h3>Freeman Parent</h3>
                            </div>
                            <div class="testimonial__rating">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-star"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-star"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-star"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-star"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-star"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="testimonial__item transition-3 text-center white-bg">
                            <div class="testimonial__avater">
                            </div>
                            <div class="testimonial__text">
                                <h4>Significant Improvement!</h4>
                                <p>“He really understands my middle school child and how to explain math to him in a way that makes sense. My child looks
                                forward to meeting with Mr. Benesh and has improved his math grade significantly. We are very pleased!”.</p>
                            </div>
                            <div class="testimonial__avater-info mb-5">
                                <h3>Veritas Parent
</h3>
                            </div>
                            <div class="testimonial__rating">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-star"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-star"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-star"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-star"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-star"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="testimonial__item transition-3 text-center white-bg">
                            <div class="testimonial__avater">
                            </div>
                            <div class="testimonial__text">
                                <h4>Highly Recommended.</h4>
                                <p>“Dickson was so patient and helpful with my daughter. He helped with SAT review as well as math support during calculus
                                exams and AP tests. I highly recommend him.”
</p>
                            </div>
                            <div class="testimonial__avater-info mb-5">
                                <h3>St. Cat's Parent</h3>
                            </div>
                            <div class="testimonial__rating">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-star"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-star"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-star"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-star"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-star"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="testimonial__item transition-3 text-center white-bg">
                            <div class="testimonial__avater">
                            </div>
                            <div class="testimonial__text">
                                <h4>Amazing Experience!</h4>
                                <p>“Dickson keeps my high schooler buoyed both from a skills perspective, but as importantly from an emotional standpoint,
                                thanks to her weekly math tutoring sessions with him. Moreover, he is incredibly flexible whenever possible to allow
                                extra sessions before important exams.”
</p>
                            </div>
                            <div class="testimonial__avater-info mb-5">
                                <h3>ARGS Parent</h3>
                            </div>
                            <div class="testimonial__rating">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-star"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-star"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-star"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-star"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa-solid fa-star"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>