<% layout('./layouts/boilerplate') %>

<main>

    <!-- breadcrumb area start -->
    <section class="breadcrumb__area include-bg pt-150 pb-150 breadcrumb__overlay"
        data-background="/img/slider/benesh.jpeg">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__content text-center p-relative z-index-1">
                        <h3 class="breadcrumb__title">Math Tutoring</h3>
                        <div class="breadcrumb__list">
                            <span><a href="/">Home</a></span>
                            <span class="dvdr"><i class="fa-regular fa-angle-right"></i></span>
                            <span>Tutoring</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->


    <!-- course area start -->
    <section class="course__area pt-115 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-xxl-8 col-xl-8 col-lg-8">
                    <div class="course__wrapper">
                        <div class="page__title-content mb-25">
                            <div class="breadcrumb__list breadcrumb__list-2 mb-10">
                                <span><a href="#">Home</a></span>
                                <span class="dvdr"><i class="fa-regular fa-angle-right"></i></span>
                                <span>Tutoring</span>
                            </div>
                            <span class="breadcrumb__title-pre">Personalized</span>
                            <h5 class="breadcrumb__title-2">All Levels Math Tutoring</h5>
                        </div>
                        <div class="course__meta-2 d-sm-flex align-items-center mb-30">
                            <div class="course__teacher-3 d-flex align-items-center mr-70 mb-30">
                                <div class="course__teacher-thumb-3 mr-15">
                                    <img src="/img/about/beneshsquare.png" alt="">
                                </div>
                                <div class="course__teacher-info-3">
                                    <h5>Teacher</h5>
                                    <p><a href="/about">Dickson Benesh</a></p>
                                </div>
                            </div>
                            <div class="course__update mr-80 mb-30">
                                <h5>Last Update:</h5>
                                <p>January 24, 2024</p>
                            </div>
                            <div class="course__rating-2 mb-30">
                                <h5>Review:</h5>
                                <div class="course__rating-inner d-flex align-items-center">
                                    <ul>
                                        <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                                    </ul>
                                    <p>5.0</p>
                                </div>
                            </div>
                        </div>
                        <div class="course__img w-img mb-30">
                            <img src="/img/course/mathbenesh2.jpeg" alt="">
                        </div>
                        <div class="course__tab-2 mb-45">
                            <ul class="nav nav-tabs" id="courseTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="description-tab" data-bs-toggle="tab"
                                        data-bs-target="#description" type="button" role="tab"
                                        aria-controls="description" aria-selected="true"><i
                                            class="fa-regular fa-medal"></i> <span>Discription</span> </button>
                                </li>
                               
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="review-tab" data-bs-toggle="tab"
                                        data-bs-target="#review" type="button" role="tab" aria-controls="review"
                                        aria-selected="false"> <i class="fa-regular fa-star"></i> <span>Reviews</span>
                                    </button>
                                </li>
                              
                            </ul>
                        </div>
                        <div class="course__tab-content mb-95">
                            <div class="tab-content" id="courseTabContent">
                                <div class="tab-pane fade show active" id="description" role="tabpanel"
                                    aria-labelledby="description-tab">
                                    <div class="course__description">
                                        <h3>Course Overview</h3>
                                        <p>Discover the advantage of individualized math tutoring, available across all levels, from elementary math concepts
                                        through to advanced calculus and SAT & ACT test preparation. Our skilled tutor, Dickson Benesh, provides dedicated
                                        one-on-one instruction tailored to each student's unique needs.
                                        
                                        Dickson has a proven track record of successful tutoring experience with students from esteemed institutions such as
                                        Collegiate, Veritas, Trinity, St. Chris, Steward, St. Cat's, St. Gertrude's, ARGS, James River, Freeman, Tucker, Deep
                                        Run, Godwin, Atlee, and Maggie Walker.
                                        
                                        For more information, please directly connect with Dickson via email at beneshrai@gmail.com. Your child's journey
                                        towards mathematical mastery starts with just one email. We invite you to provide your children the tools they need to
                                        thrive in their mathematical endeavors.
                                        </p>

                                        <div class="course__tag-4 mb-35 mt-35">
                                            <i class="fal fa-tag"></i>
                                            <a href="#">Algebra,</a>
                                            <a href="#">Trignometry,</a>
                                            <a href="#">Calculus,</a>
                                             <a href="#">Linear Algebra</a>

                                            
                                        </div>
                                        <div class="course__description-list mb-45">
                                            <h4>Who is this perfect for?</h4>
                                            <ul>
                                                <li> <i class="fa-solid fa-check"></i> Parents seeking comprehensive, individualized math tutoring to supplement and enhance their child's existing in-school
                                                learning.</li>
                                                <li> <i class="fa-solid fa-check"></i> Students at any level who need additional guidance in mathematical coursework from basics to advanced calculus, and SAT
                                                & ACT test preparation.</li>
                                                <li> <i class="fa-solid fa-check"></i> Students from schools in the area looking for a tutor who truly understands their unique academic demands and
                                                can customise lessons accordingly.</li>
                                            </ul>
                                        </div>
                                        
                                    </div>
                                </div>
                               
                                <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                                    <div class="course__review">
                                        <h3>Reviews</h3>
                                     

                                        <div class="course__review-rating mb-50">
                                            <div class="row g-0">
                                                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                                    <div class="course__review-rating-info grey-bg-2 text-center">
                                                        <h5>5</h5>
                                                        <ul>
                                                            <li><a href="#"> <i class="fa-solid fa-star"></i> </a></li>
                                                            <li><a href="#"> <i class="fa-solid fa-star"></i> </a></li>
                                                            <li><a href="#"> <i class="fa-solid fa-star"></i> </a></li>
                                                            <li><a href="#"> <i class="fa-solid fa-star"></i> </a></li>
                                                            <li><a href="#"> <i class="fa-solid fa-star"></i> </a></li>
                                                        </ul>
                                                        <p>152 Ratings</p>
                                                    </div>
                                                </div>
                                                <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                                    <div class="course__review-details grey-bg-2">
                                                        <h5>Detailed Rating</h5>
                                                        <div class="course__review-content mb-20">
                                                            <div
                                                                class="course__review-item d-flex align-items-center justify-content-between">
                                                                <div class="course__review-text">
                                                                    <span>5 stars</span>
                                                                </div>
                                                                <div class="course__review-progress">
                                                                    <div class="single-progress" data-width="100%">
                                                                    </div>
                                                                </div>
                                                                <div class="course__review-percent">
                                                                    <h5>100%</h5>
                                                                </div>
                                                            </div>
                                                            <div
                                                                class="course__review-item d-flex align-items-center justify-content-between">
                                                                <div class="course__review-text">
                                                                    <span>4 stars</span>
                                                                </div>
                                                                <div class="course__review-progress">
                                                                    <div class="single-progress" data-width="0%"></div>
                                                                </div>
                                                                <div class="course__review-percent">
                                                                    <h5>0%</h5>
                                                                </div>
                                                            </div>
                                                            <div
                                                                class="course__review-item d-flex align-items-center justify-content-between">
                                                                <div class="course__review-text">
                                                                    <span>3 stars</span>
                                                                </div>
                                                                <div class="course__review-progress">
                                                                    <div class="single-progress" data-width="0%"></div>
                                                                </div>
                                                                <div class="course__review-percent">
                                                                    <h5>0%</h5>
                                                                </div>
                                                            </div>
                                                            <div
                                                                class="course__review-item d-flex align-items-center justify-content-between">
                                                                <div class="course__review-text">
                                                                    <span>2 stars</span>
                                                                </div>
                                                                <div class="course__review-progress">
                                                                    <div class="single-progress" data-width="0%"></div>
                                                                </div>
                                                                <div class="course__review-percent">
                                                                    <h5>0%</h5>
                                                                </div>
                                                            </div>
                                                            <div
                                                                class="course__review-item d-flex align-items-center justify-content-between">
                                                                <div class="course__review-text">
                                                                    <span>1 stars</span>
                                                                </div>
                                                                <div class="course__review-progress">
                                                                    <div class="single-progress" data-width="0%"></div>
                                                                </div>
                                                                <div class="course__review-percent">
                                                                    <h5>0%</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="course__comment mb-75">
                                            <h3 class="course__comment-title">4 Comments</h3>

                                            <ul>
                                                <li>
                                                    <div class="course__comment-box ">
                                                        <div class="course__comment-thumb float-start">
                                                            
                                                        </div>
                                                        <div class="course__comment-content">
                                                            <div class="course__comment-wrapper ml-70 fix">
                                                                <div class="course__comment-info float-start">
                                                                    <h4>St. Cat's Student</h4>
                                                                    <span>2023</span>
                                                                </div>
                                                                <div
                                                                    class="course__comment-rating float-start float-sm-end">
                                                                    <ul>
                                                                        <li><a href="#"> <i
                                                                                    class="fa-solid fa-star"></i> </a>
                                                                        </li>
                                                                        <li><a href="#"> <i
                                                                                    class="fa-solid fa-star"></i> </a>
                                                                        </li>
                                                                        <li><a href="#"> <i
                                                                                    class="fa-solid fa-star"></i> </a>
                                                                        </li>
                                                                        <li><a href="#"> <i
                                                                                    class="fa-solid fa-star"></i> </a>
                                                                        </li>
                                                                        <li><a href="#"> <i
                                                                                    class="fa-solid fa-star"></i> </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="course__comment-text ml-70">
                                                                <p>“He was very understanding when I got the wrong answer and he didn’t make me feel stupid. He was very nice and welcoming
                                                                as well and extremely helpful. He also communicated with my parents about scheduling and my progress frequently. I
                                                                highly recommend Mr. Benesh!”
</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                             
                                                <li>
                                                    <div class="course__comment-box ">
                                                        <div class="course__comment-thumb float-start">
                                                
                                                        </div>
                                                        <div class="course__comment-content">
                                                            <div class="course__comment-wrapper ml-70 fix">
                                                                <div class="course__comment-info float-start">
                                                                    <h4>St. Chris Parent</h4>
                                                                    <span>2023</span>
                                                                </div>
                                                                <div class="course__comment-rating float-start float-sm-end">
                                                                    <ul>
                                                                        <li><a href="#"> <i class="fa-solid fa-star"></i> </a>
                                                                        </li>
                                                                        <li><a href="#"> <i class="fa-solid fa-star"></i> </a>
                                                                        </li>
                                                                        <li><a href="#"> <i class="fa-solid fa-star"></i> </a>
                                                                        </li>
                                                                        <li><a href="#"> <i class="fa-solid fa-star"></i> </a>
                                                                        </li>
                                                                        <li><a href="#"> <i class="fa-solid fa-star"></i> </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="course__comment-text ml-70">
                                                                <p>“Dickson has been working with my 11th grade son for this entire semester on precalculus. He has helped him immensely.
                                                                My son was, and still is, struggling with a very poor teacher, and Dickson gets him caught up every week. He now has an
                                                                A in the class.”

                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="course__comment-box ">
                                                        <div class="course__comment-thumb float-start">
                                                
                                                        </div>
                                                        <div class="course__comment-content">
                                                            <div class="course__comment-wrapper ml-70 fix">
                                                                <div class="course__comment-info float-start">
                                                                    <h4>Atlee Parent</h4>
                                                                    <span>2023</span>
                                                                </div>
                                                                <div class="course__comment-rating float-start float-sm-end">
                                                                    <ul>
                                                                        <li><a href="#"> <i class="fa-solid fa-star"></i> </a>
                                                                        </li>
                                                                        <li><a href="#"> <i class="fa-solid fa-star"></i> </a>
                                                                        </li>
                                                                        <li><a href="#"> <i class="fa-solid fa-star"></i> </a>
                                                                        </li>
                                                                        <li><a href="#"> <i class="fa-solid fa-star"></i> </a>
                                                                        </li>
                                                                        <li><a href="#"> <i class="fa-solid fa-star"></i> </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="course__comment-text ml-70">
                                                                <p>“Excellent to work with, very professional, and my son found Mr. Benesh both relatable and engaging during the
                                                                instruction. We saw a great improvement in the results, and my son was even more motivated to study and prepare due to
                                                                the enthusiasm Mr. Benesh brought to their sessions.”

                                                
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="course__comment-box ">
                                                        <div class="course__comment-thumb float-start">
                                                
                                                        </div>
                                                        <div class="course__comment-content">
                                                            <div class="course__comment-wrapper ml-70 fix">
                                                                <div class="course__comment-info float-start">
                                                                    <h4>ARGS Parent</h4>
                                                                    <span>2023</span>
                                                                </div>
                                                                <div class="course__comment-rating float-start float-sm-end">
                                                                    <ul>
                                                                        <li><a href="#"> <i class="fa-solid fa-star"></i> </a>
                                                                        </li>
                                                                        <li><a href="#"> <i class="fa-solid fa-star"></i> </a>
                                                                        </li>
                                                                        <li><a href="#"> <i class="fa-solid fa-star"></i> </a>
                                                                        </li>
                                                                        <li><a href="#"> <i class="fa-solid fa-star"></i> </a>
                                                                        </li>
                                                                        <li><a href="#"> <i class="fa-solid fa-star"></i> </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="course__comment-text ml-70">
                                                                <p>“Dickson keeps my high schooler buoyed both from a skills perspective, but as importantly from an emotional standpoint,
                                                                thanks to her weekly math tutoring sessions with him. Moreover, he is incredibly flexible whenever possible to allow
                                                                extra sessions before important exams.”

                                                
                                                
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                      
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="member" role="tabpanel" aria-labelledby="member-tab">
                                    <div class="course__member mb-45">
                                        <div class="course__member-item">
                                            <div class="row align-items-center">
                                                <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-6">
                                                    <div class="course__member-thumb d-flex align-items-center">
                                                        <img src="assets/img/course/instructor/course-instructor-1.jpg"
                                                            alt="">
                                                        <div class="course__member-name ml-20">
                                                            <h5>Shahnewaz Sakil</h5>
                                                            <span>Engineer</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-4">
                                                    <div class="course__member-info pl-45">
                                                        <h5>07</h5>
                                                        <span>Courses</span>
                                                    </div>
                                                </div>
                                                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-4">
                                                    <div class="course__member-info pl-70">
                                                        <h5>05</h5>
                                                        <span>Reviw</span>
                                                    </div>
                                                </div>
                                                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-4">
                                                    <div class="course__member-info pl-85">
                                                        <h5>3.00</h5>
                                                        <span>Rating</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="course__member-item">
                                            <div class="row align-items-center">
                                                <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-6">
                                                    <div class="course__member-thumb d-flex align-items-center">
                                                        <img src="assets/img/course/instructor/course-instructor-2.jpg"
                                                            alt="">
                                                        <div class="course__member-name ml-20">
                                                            <h5>Lauren Stamps</h5>
                                                            <span>Teacher</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-4">
                                                    <div class="course__member-info pl-45">
                                                        <h5>05</h5>
                                                        <span>Courses</span>
                                                    </div>
                                                </div>
                                                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-4">
                                                    <div class="course__member-info pl-70">
                                                        <h5>03</h5>
                                                        <span>Reviw</span>
                                                    </div>
                                                </div>
                                                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-4">
                                                    <div class="course__member-info pl-85">
                                                        <h5>3.00</h5>
                                                        <span>Rating</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="course__member-item">
                                            <div class="row align-items-center">
                                                <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-6 ">
                                                    <div class="course__member-thumb d-flex align-items-center">
                                                        <img src="assets/img/course/instructor/course-instructor-3.jpg"
                                                            alt="">
                                                        <div class="course__member-name ml-20">
                                                            <h5>Jonquil Von</h5>
                                                            <span>Associate</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-4">
                                                    <div class="course__member-info pl-45">
                                                        <h5>09</h5>
                                                        <span>Courses</span>
                                                    </div>
                                                </div>
                                                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-4">
                                                    <div class="course__member-info pl-70">
                                                        <h5>07</h5>
                                                        <span>Reviw</span>
                                                    </div>
                                                </div>
                                                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-4">
                                                    <div class="course__member-info pl-85">
                                                        <h5>4.00</h5>
                                                        <span>Rating</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="course__share">
                                    <h3>Share :</h3>
                                   <a href="#" class=" fb-share-button" 
data-href="https://www.rvarai.com/tutoring/math" 
data-layout="button_count"></a>
                                       
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4">
                    <div class="course__sidebar pl-70 p-relative">
                        <div class="course__shape">
                            <img class="course-dot" src="assets/img/course/course-dot.png" alt="">
                        </div>
                        <div class="course__sidebar-widget-2 white-bg mb-20">
                            <div class="course__video">
                               
                                <div class="course__video-meta mb-25 d-flex align-items-center justify-content-between">
                                    <div class="course__video-price">
                                        <h5>Custom Pricing </h5>
                                    </div>
                                   
                                </div>
                                <div class="course__video-content mb-35">
                                    <ul>
                                        <li class="d-flex align-items-center">
                                            <div class="course__video-icon">
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                    viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;"
                                                    xml:space="preserve">
                                                    <path class="st0"
                                                        d="M2,6l6-4.7L14,6v7.3c0,0.7-0.6,1.3-1.3,1.3H3.3c-0.7,0-1.3-0.6-1.3-1.3V6z" />
                                                    <polyline class="st0" points="6,14.7 6,8 10,8 10,14.7 " />
                                                </svg>
                                            </div>
                                            <div class="course__video-info">
                                                <h5><span>Instructor :</span> Dickson Benesh</h5>
                                            </div>
                                        </li>
                                        <li class="d-flex align-items-center">
                                            <div class="course__video-icon">
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                    viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;"
                                                    xml:space="preserve">

                                                    <path class="st0" d="M4,19.5C4,18.1,5.1,17,6.5,17H20" />
                                                    <path class="st0"
                                                        d="M6.5,2H20v20H6.5C5.1,22,4,20.9,4,19.5v-15C4,3.1,5.1,2,6.5,2z" />
                                                </svg>
                                            </div>
                                            <div class="course__video-info">
                                                <h5><span>Lectures :</span>Custom</h5>
                                            </div>
                                        </li>
                                        <li class="d-flex align-items-center">
                                            <div class="course__video-icon">
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                    viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;"
                                                    xml:space="preserve">
                                                    <circle class="st0" cx="8" cy="8" r="6.7" />
                                                    <polyline class="st0" points="8,4 8,8 10.7,9.3 " />
                                                </svg>
                                            </div>
                                            <div class="course__video-info">
                                                <h5><span>Duration :</span>Custom</h5>
                                            </div>
                                        </li>
                                       
                                       
                                    </ul>
                                </div>
                                
                                <div class="course__enroll-btn">
                                    <a type="button" class="tp-btn w-100 text-center"  href="/contact"
                                       >Enroll <i
                                            class="far fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- course area end -->

    <!-- course enroll popup start -->
   
    <!-- course enroll popup end -->


</main>